@import '_reset';

html, body {
  font-size: 14px;
  font-family: Helvetica, Arial, 'Sans serif';
  color: #555;
  background: #283344;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}


.memory-game-table {
  width: 100%;
  height: auto;
}

.memory-game-cell {
  width: 25%;
  height: 25%;
  border: 3px solid #283344;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background: #38485f;

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
    width: 1px;
    float: left;
  }
}
