@import '_reset';

html, body {
  font-size: 14px;
  font-family: Helvetica, Arial, 'Sans serif';
  color: #555;
  background: #283344;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}

.header {
  height: 50px;
  background: #121c2b;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}


.memory-game-table {
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: transparent;
}

.memory-game-cell {
  width: 20vw;
  height: 20vw;
  
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;

  // &:after {
  //   content: '';
  //   display: block;
  //   padding-top: 100%;
  //   width: 1px;
  //   float: left;
  // }
}


.card {
  width: 100%;
  height: 100%;
  // padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50; 
  -webkit-tap-highlight-color: transparent;
  // @include width(800px){
  //   width: 25%;
  //   height: 16.666%;
  // }
  .inside {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
    background: #38485f;

    &.picked, &.matched {
      transform: rotateY(180deg);
    }
    &.matched {
      
    }
  }

  .front, .back {
    border: 3px solid #283344;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .front {
    transform: rotateY(-180deg);
    // @include width(800px){
    //   padding: 5px;
    // }
  }
  .back{
    // @include width(800px){
    //   padding: 10px;
    // }
  }
}
